<h1>Editing Comment</h1>

<%= render "form", comment: @comment %>

<br>
<div>
  <%= link_to "Show this post", topic_post_path(@post.topic,@post), class: "btn btn-primary" %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary"%>
</div>
