<h1>Editing Comment</h1>

<%= render "form", comment: @comment %>

<br>
<div>
  <%= link_to "Show this post", topic_post_path(@post.topic,@post) %> |
  <%= link_to "Back to posts", posts_path %>
</div>
