<!--<p style="color: green"><%#= notice %></p>-->

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>
    <%= render topic %></div>
  <% end %>
  <div class="container">
  <%= link_to "New topic", new_topic_path %>
  </div>
</div>


