<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Publish:</strong>
    <%= post.publish %>
  </p>
<%# if post&.image==true %>
  <div style="width:400px;height:400px">
    <%= image_tag(post.image,style:"width:100%") %>
  </div>
<%# end %>
</div>
