<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java Script</title>
</head>
<body>
  <h1>My first java script</h1>
  <button onclick="document.getElementById('dateatime').innerHTML=Date()">Click to get Date and Time</button>
  <p id="dateatime"></p>
  <p id="demo"></p>
  <script>
      document.getElementById("demo").innerHTML = "Hello JavaScript!";
      document.getElementById("demo").style.fontSize="25px";
      document.getElementById("demo").style.color="red";
      document.getElementById("demo").style.background="yellow";
  </script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
</body>
</html>